html{
 font-weight:bold;
 font-size:23px;
 font-family:"Kokoro",cursive;
 
}

body{
  background-image: url("花束.jpg");
  background-size: 100% auto;
  margin:0px auto;
}

.a{
  background-color:rgba(233, 234, 236, 0.5);
  width:900px;
  padding:8px;
  text-align:center;
  border:3px ridge #cccc;
  margin:30px auto ;
}

.b{
  background-color:rgba(233, 234, 236, 0.5);
  padding:8px;
  text-align:center;
  width:900px;
  margin:30px auto;
  border:3px ridge #cccc;
}

.c{
  background-color:rgba(233, 234, 236, 0.5);
  padding:8px;
  text-align:center;
  width:900px;
  margin:30px auto;
  border:3px ridge #cccc;
}

h2{
  border-bottom:3px solid black;
}
以下フェイスブックページ

.btn-social-phone a {
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  margin: 5px;
}
.btn-social-phone .fa-stack-2x {
  color: black;
  font-size:70px;
}
.btn-social-phone .fa-stack-1x{
  display: inline-block;
  position: relative;
  font-size: 20px;
  top: 12px;
  left:5px;
  transition: .4s;
}
.btn-social-phone-twitter {
  color: #74c1f8;
}
.btn-social-phone-facebook {
  color: #668ad8;
}
.btn-social-phone-pocket {
  color: #f79393;
}
.btn-social-phone-feedly {
  color: #acde71;
}
.btn-social-phone a:hover .fa-stack-1x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.sample {
	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);
}
